.navbar{
    border-radius:0;   
}

.navbar-brand{
    font-size:20px;
}

#main{
    text-align:center;
    margin-top:105px;
}

#title{
    font-size:.9em;
}

#body{
    font-size:40px;
    font-weight:bold;
}

#roles{
    font-size: .6em;
    text-align:center;
    font-weight:normal;
}

.role{
	cursor: pointer;
}