html{
    overflow-y: scroll;
}

.navbar{
    border-radius:0;   
}

.navbar-brand{
    font-size:20px;
}

#main{
    text-align:center;
    margin-top:60px;
}

.title{
    font-size: 2.2em;
}

#body{
    font-size: 1em;
    font-weight:bold;
}

#roles{
    font-size: 1.5em;
    text-align:center;
    font-weight:normal;
}

.role{
	cursor: pointer;
}

.filterrolelist{
	list-style-type: none;
	font-size: 1.5em;
}

.filteredrole{
	cursor: pointer;
}