html{
    overflow-y: scroll;
}

body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

.navbar{
    border-radius:0;
}

.navbar-brand{
    font-size:20px;
}

#main{
    text-align:center;
    margin-top:60px;
}

.title{
    font-size: 2.2em;
}

#body{
    font-size: 1em;
    font-weight:bold;
}

.btcadd{
    word-wrap: break-word;
}

p{
    font-size: 1.3em;
}

#roles{
    font-size: 1.5em;
    text-align:center;
    font-weight:normal;
}

.role{
	cursor: pointer;
}

.filterrolelist, .questionrolelist{
	list-style-type: none;
	font-size: 1.5em;
}

#questions{
    font-size: 1.35em;
}

.filteredrole, .questionfilteredrole{
	cursor: pointer;
}

.tooltip-inner
{
    font-size: 20px;
    max-width: 350px;
}